meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui")
meta(name="keywords", content="LightYear,LightYearAdmin,光年,后台模板,后台管理系统,光年HTML模板")
meta(name="description", content="Light Year Admin V5是一个基于Bootstrap v5.1.3的后台管理系统的HTML模板。")
meta(name="author", content="yinq")
title 抽卡查询模板
link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-touch-fullscreen", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="default")
link(rel="stylesheet", type="text/css", href="css/materialdesignicons.min.css")
link(rel="stylesheet", type="text/css", href="css/bootstrap.min.css")
link(rel="stylesheet", type="text/css", href="css/animate.min.css")
link(rel="stylesheet", type="text/css", href="js/bootstrap-multitabs/multitabs.min.css")
link(rel="stylesheet", type="text/css", href="css/style.min.css")
.lyear-layout-web
  .lyear-layout-container
    // 左侧导航
    aside.lyear-layout-sidebar
      //  logo 
      #logo.sidebar-header
        a(href="/")
          img(src="images/logo-sidebar.png", title="LightYear", alt="LightYear")
      .lyear-layout-sidebar-info.lyear-scroll
        nav.sidebar-main
          ul.nav-drawer
            li.nav-item.active
              a.multitabs#default-page(href="main")
                i.mdi.mdi-home-city-outline
                span 首页
            li.nav-item.active
              a.multitabs#default-page(href="main")
                i.mdi.mdi-panorama-sphere
                span 待开发……
            
                
        .sidebar-footer
          p.copyright
            span Copyright © 2024. 
            a(target="_blank", href="https://blog.ciy.cool") Makoto
            span All rights reserved.
    // End 左侧导航
    // 头部信息
    header.lyear-layout-header
      nav.navbar
        .navbar-left
          .lyear-aside-toggler
            span.lyear-toggler-bar
            span.lyear-toggler-bar
            span.lyear-toggler-bar
        span#UID_or 欢迎使用祈愿统计系统！
        ul.navbar-right.d-flex.align-items-center
          // 顶部消息部分
          //- li.dropdown.dropdown-notice
          //-   span.position-relative.icon-item(data-bs-toggle="dropdown")
          //-     i.mdi.mdi-bell-outline.fs-5
          //-     span.position-absolute.translate-middle.badge.bg-danger 7
          //-   .dropdown-menu.dropdown-menu-end
          //-     .lyear-notifications
          //-       .lyear-notifications-title.d-flex.justify-content-between(data-stoppropagation="true")
          //-         span 你有 10 条未读消息
          //-         a(href="#!") 查看全部
          //-       .lyear-notifications-info.lyear-scroll
          //-         a.dropdown-item(href="#!", title="树莓派销量猛增，疫情期间居家工作学习、医疗领域都需要它") 树莓派销量猛增，疫情期间居家工作学习、医疗领域都需要它
          //-         a.dropdown-item(href="#!", title="GNOME 用户体验团队将为 GNOME Shell 提供更多改进") GNOME 用户体验团队将为 GNOME Shell 提供更多改进
          //-         a.dropdown-item(href="#!", title="Linux On iPhone 即将面世，支持 iOS 的双启动") Linux On iPhone 即将面世，支持 iOS 的双启动
          //-         a.dropdown-item(href="#!", title="GitHub 私有仓库完全免费面向团队提供") GitHub 私有仓库完全免费面向团队提供
          //-         a.dropdown-item(href="#!", title="Wasmtime 为 WebAssembly 增加 Go 语言绑定") Wasmtime 为 WebAssembly 增加 Go 语言绑定
          //-         a.dropdown-item(href="#!", title="红帽借“订阅”成开源一哥，首创者 Cormier 升任总裁") 红帽借“订阅”成开源一哥，首创者 Cormier 升任总裁
          //-         a.dropdown-item(href="#!", title="Zend 宣布推出两项 PHP 新产品") Zend 宣布推出两项 PHP 新产品
          // End 顶部消息部分
          // 切换主题配色
          li.dropdown.dropdown-skin
            span.icon-item(data-bs-toggle="dropdown")
              i.mdi.mdi-palette.fs-5
            ul.dropdown-menu.dropdown-menu-end(data-stoppropagation="true")
              li.lyear-skin-title
                p 主题
              li.lyear-skin-li.clearfix
                .form-check.form-check-inline
                  input.form-check-input#site_theme_1(type="radio", name="site_theme", value="default", checked)
                  label.form-check-label(for="site_theme_1")
                .form-check.form-check-inline
                  input.form-check-input#site_theme_2(type="radio", name="site_theme", value="translucent-green")
                  label.form-check-label(for="site_theme_2")
                .form-check.form-check-inline
                  input.form-check-input#site_theme_3(type="radio", name="site_theme", value="translucent-blue")
                  label.form-check-label(for="site_theme_3")
                .form-check.form-check-inline
                  input.form-check-input#site_theme_4(type="radio", name="site_theme", value="translucent-yellow")
                  label.form-check-label(for="site_theme_4")
                .form-check.form-check-inline
                  input.form-check-input#site_theme_5(type="radio", name="site_theme", value="translucent-red")
                  label.form-check-label(for="site_theme_5")
                .form-check.form-check-inline
                  input.form-check-input#site_theme_6(type="radio", name="site_theme", value="translucent-pink")
                  label.form-check-label(for="site_theme_6")
                .form-check.form-check-inline
                  input.form-check-input#site_theme_7(type="radio", name="site_theme", value="translucent-cyan")
                  label.form-check-label(for="site_theme_7")
                .form-check.form-check-inline
                  input.form-check-input#site_theme_8(type="radio", name="site_theme", value="dark")
                  label.form-check-label(for="site_theme_8")
              li.lyear-skin-title
                p LOGO
              li.lyear-skin-li.clearfix
                .form-check.form-check-inline
                  input.form-check-input#logo_bg_1(type="radio", name="logo_bg", value="default", checked)
                  label.form-check-label(for="logo_bg_1")
                .form-check.form-check-inline
                  input.form-check-input#logo_bg_2(type="radio", name="logo_bg", value="color_2")
                  label.form-check-label(for="logo_bg_2")
                .form-check.form-check-inline
                  input.form-check-input#logo_bg_3(type="radio", name="logo_bg", value="color_3")
                  label.form-check-label(for="logo_bg_3")
                .form-check.form-check-inline
                  input.form-check-input#logo_bg_4(type="radio", name="logo_bg", value="color_4")
                  label.form-check-label(for="logo_bg_4")
                .form-check.form-check-inline
                  input.form-check-input#logo_bg_5(type="radio", name="logo_bg", value="color_5")
                  label.form-check-label(for="logo_bg_5")
                .form-check.form-check-inline
                  input.form-check-input#logo_bg_6(type="radio", name="logo_bg", value="color_6")
                  label.form-check-label(for="logo_bg_6")
                .form-check.form-check-inline
                  input.form-check-input#logo_bg_7(type="radio", name="logo_bg", value="color_7")
                  label.form-check-label(for="logo_bg_7")
                .form-check.form-check-inline
                  input.form-check-input#logo_bg_8(type="radio", name="logo_bg", value="color_8")
                  label.form-check-label(for="logo_bg_8")
              li.lyear-skin-title
                p 头部
              li.lyear-skin-li.clearfix
                .form-check.form-check-inline
                  input.form-check-input#header_bg_1(type="radio", name="header_bg", value="default", checked)
                  label.form-check-label(for="header_bg_1")
                .form-check.form-check-inline
                  input.form-check-input#header_bg_2(type="radio", name="header_bg", value="color_2")
                  label.form-check-label(for="header_bg_2")
                .form-check.form-check-inline
                  input.form-check-input#header_bg_3(type="radio", name="header_bg", value="color_3")
                  label.form-check-label(for="header_bg_3")
                .form-check.form-check-inline
                  input.form-check-input#header_bg_4(type="radio", name="header_bg", value="color_4")
                  label.form-check-label(for="header_bg_4")
                .form-check.form-check-inline
                  input.form-check-input#header_bg_5(type="radio", name="header_bg", value="color_5")
                  label.form-check-label(for="header_bg_5")
                .form-check.form-check-inline
                  input.form-check-input#header_bg_6(type="radio", name="header_bg", value="color_6")
                  label.form-check-label(for="header_bg_6")
                .form-check.form-check-inline
                  input.form-check-input#header_bg_7(type="radio", name="header_bg", value="color_7")
                  label.form-check-label(for="header_bg_7")
                .form-check.form-check-inline
                  input.form-check-input#header_bg_8(type="radio", name="header_bg", value="color_8")
                  label.form-check-label(for="header_bg_8")
              li.lyear-skin-title
                p 侧边栏
              li.lyear-skin-li.clearfix
                .form-check.form-check-inline
                  input.form-check-input#sidebar_bg_1(type="radio", name="sidebar_bg", value="default", checked)
                  label.form-check-label(for="sidebar_bg_1")
                .form-check.form-check-inline
                  input.form-check-input#sidebar_bg_2(type="radio", name="sidebar_bg", value="color_2")
                  label.form-check-label(for="sidebar_bg_2")
                .form-check.form-check-inline
                  input.form-check-input#sidebar_bg_3(type="radio", name="sidebar_bg", value="color_3")
                  label.form-check-label(for="sidebar_bg_3")
                .form-check.form-check-inline
                  input.form-check-input#sidebar_bg_4(type="radio", name="sidebar_bg", value="color_4")
                  label.form-check-label(for="sidebar_bg_4")
                .form-check.form-check-inline
                  input.form-check-input#sidebar_bg_5(type="radio", name="sidebar_bg", value="color_5")
                  label.form-check-label(for="sidebar_bg_5")
                .form-check.form-check-inline
                  input.form-check-input#sidebar_bg_6(type="radio", name="sidebar_bg", value="color_6")
                  label.form-check-label(for="sidebar_bg_6")
                .form-check.form-check-inline
                  input.form-check-input#sidebar_bg_7(type="radio", name="sidebar_bg", value="color_7")
                  label.form-check-label(for="sidebar_bg_7")
                .form-check.form-check-inline
                  input.form-check-input#sidebar_bg_8(type="radio", name="sidebar_bg", value="color_8")
                  label.form-check-label(for="sidebar_bg_8")
          // End 切换主题配色
          // 个人头像内容
          //- li.dropdown
          //-   a.dropdown-toggle(href="javascript:void(0)", data-bs-toggle="dropdown")
          //-     img.avatar-md.rounded-circle(src="images/users/avatar.jpg", alt="笔下光年")
          //-     span(style="margin-left: 10px;") 笔下光年
          //-   ul.dropdown-menu.dropdown-menu-end
          //-     li
          //-       a.multitabs.dropdown-item(data-url="lyear_pages_profile.html", href="javascript:void(0)")
          //-         i.mdi.mdi-account
          //-         span 个人信息
          //-     li
          //-       a.multitabs.dropdown-item(data-url="lyear_pages_edit_pwd.html", href="javascript:void(0)")
          //-         i.mdi.mdi-lock-outline
          //-         span 修改密码
          //-     li
          //-       a.dropdown-item(href="javascript:void(0)")
          //-         i.mdi.mdi-delete
          //-         span 清空缓存
          //-     li.dropdown-divider
          //-     li
          //-       a.dropdown-item(href="lyear_pages_login_1.html")
          //-         i.mdi.mdi-logout-variant
          //-         span 退出登录
          // End 个人头像内容
    // End 头部信息
    // 页面主要内容
    main.lyear-layout-content
      #iframe-content
    // End 页面主要内容
script(type="text/javascript", src="js/jquery.min.js")
script(type="text/javascript", src="js/popper.min.js")
script(type="text/javascript", src="js/bootstrap.min.js")
script(type="text/javascript", src="js/perfect-scrollbar.min.js")
script(type="text/javascript", src="js/bootstrap-multitabs/multitabs.min.js")
script(type="text/javascript", src="js/jquery.cookie.min.js")
script(type="text/javascript", src="js/index.min.js")
script(type="text/javascript").
  
  $(document).ready(function(e) {
  });
  