doctype 

html(lang="zh-CN")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords", content="祈愿查询,原神,祈愿统计系统")
    meta(name="description", content="Makoto-Genshin-Wish-Analysis-Prod是一个基于光年模板v5的祈愿统计系统")
    meta(name="author", content="Makoto")
    title 祈愿统计系统
    link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-touch-fullscreen", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="default")
    link(rel="stylesheet", type="text/css", href="./css/materialdesignicons.min.css")
    link(rel="stylesheet", type="text/css", href="./css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="./css/animate.min.css")
    link(rel="stylesheet", type="text/css", href="./js/bootstrap-multitabs/multitabs.min.css")
    link(rel="stylesheet", type="text/css", href="./css/style.min.css")
    link(rel="preload", href="images/users/avatar.webp", as="image")
  body.bg-default
    block content
    